{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'thank_logan/style.css' %}">

<div class="wrapper">
<div id="container">
  <h1>ThankLoganForServing.Us</h1>
  <hr>
<div id=flexcontainer>
<div id=thank class=content>

{% if not thanked %}
<h2> Logan Has Not Been Thanked Today </h2>
<form action="{% url 'thank_logan:thank' %}" method="post">
{% csrf_token %}
<label for="name">Who is thanking Logan?</label><br>
<input type="text" id="name" name="name"><br>
<input type="submit" value="Thank">
</form>


{% else %}
<h2> Logan Has Been Thanked Today </h2>

<p>
Today's thank brought to you by:
</p>

<p id=thanker>
  {{ most_recent_thanker }}
</p>

<p>
<span id="countdown"></span>until he can be thanked again
</p>

<script>
// js sux
// Set the date we're counting down to
var countDownDate = new Date("{{ tomorrow }}").getTime();

function countdown() {
  // Get today's date and time
  var now = new Date().getTime();

  // Find the distance between now and the count down date
  var distance = countDownDate - now;

  // https://stackoverflow.com/a/2998874
  const zeroPad = (num, places) => String(num).padStart(places, '0')

  // Time calculations for days, hours, minutes and seconds
  var hours = zeroPad(Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)), 2);
  var minutes = zeroPad(Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60)), 2);
  var seconds = zeroPad(Math.floor((distance % (1000 * 60)) / 1000), 2);

  // Display the result in the element with id="countdown"
  document.getElementById("countdown").innerHTML = hours + ":" + minutes + ":" + seconds + " ";

  // If the count down is finished, write some text
  if (distance < 0) {
    clearInterval(x);
    location.reload(true);
  }
}

countdown()

// Update the count down every 1 second
setInterval(countdown, 1000);
</script>
{% endif %}
</div>

<div id=stats class=content>
{% comment %}
<div>
<table>
  <tr>
    <th class=title colspan="2">Streaks</th>
  </tr>
  <tr>
    <th>Current</th>
    <td>{{ current_streak }}</td>
  </tr>
  <tr>
    <th>Longest</th>
    <td>{{ longest_streak }}</td>
  </tr>
</table>
</div>
{% endcomment %}

<div>
<table>
  <tr>
    <th class=title colspan="3">Leaderboard</th>
  </tr>
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Thanks</th>
  </tr>
  {% for thanker in leader_board %}
  <tr>
    <td>{{ thanker.position }}</td>
    <td>{{ thanker.thanker }}</td>
    <td>{{ thanker.count }}</td>
  </tr>
  {% empty %}
  <tr>
    <td>0</td>
    <td>N/A</td>
    <td>N/A</td>
  </tr>
  {% endfor %}
</table>
</div>
</div>

</div>
<div class=wrapper>
<div id=about class=content>
  <h2>About</h2>
  <p class=text>This website is dedicated to thanking our good friend Logan for serving us. Each day, he can be thanked by one person. At midnight each night it will be possible to thank Logan again. You have to be quick if you want to thank him!</p>
  <h3>Credits</h3>
  <p>This site is only possible because of the following people:</p>
  <ul>
    <li><b>Chad:</b> The idea, funding, emotional support and motivation. </li>
    <li><b>Jack:</b> For finding the background image. </li>
    <li><b>Jordan:</b> Funding, cheesecake, not coming over to the gym. </li>
    <li><b>Darren:</b> Answering questions about JS. </li>
    <li><b>Ruth Bader Ginsburg:</b> Logan's favorite person. RIP 😭 </li>
    <li><b>The VA:</b> Providing steps for Logan t̷o̴ k̴̮̒̑͠ī̴̺̂̈́l̸̪̫̽l̴̝͆ ̷̲͍͒̿̓ḥ̶̛̏͜͝i̶̜̬͑̇m̵̠̟̽s̷͔͒e̷͎̼͂̓̀͜l̵̼̘͒f̴͙̙̐ ̴̠̟́͑͝ö̵͖̱́̍̾n̸͚̯͂̌͠.̴̺͍̔͆. </li>
    <li><b>Logan:</b> For serving us. </li>
  </ul>

  <p style="font-size:1vmin"> <a href="https://github.com/caverage/thankloganforserving.us">Source</a>
</div>
</div>
</div>
</div>
