#container {
  background-color: #eeeeee;
  padding: 15px;
  display: inline-block;
  text-align: left;
}

#wrapper {
  text-align: center;
}

#flexcontainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#about {

}

.content {
  border-style: dotted;
  padding: 10px;
  margin: 5px;
}

th, .title {
  text-align: center;
  font-size: 2.2vmin;
}

table, th, td {
  font-size: 1.8vmin;
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
  text-align: left;
}

h1 {
  font-size: 4vmin;
}
h2 {
  font-size: 3vmin;
}
p, ul, label, h3, input {
  font-size: 2vmin;
}

h1, h2, h3 {
  text-align: center;
}

div {
  padding: 5px
}

.text {
  max-width: 30em;
}

body {
    background: white url("images/flag.gif");
 }
